{% extends "_global/index.html" %}
{% block title %}Ekspoziture{% endblock %}



{% block main %}

<a href="{{BASE}}ekspoziture/add_location">Dodaj Novu Lokaciju </a>

<table class="table">
    <thead>


      <tr>
 
        <th >Lokacija</th>
        <th >Adresa</th>
        
       
      </tr>
    </thead>
    <tbody>
        {% for loc in locations %}
      <tr>
        
 
        <td> <a href="{{BASE}}ekspoziture/{{loc.location_name}}">{{loc.location_name}} </a></td>
        
        <td> {{loc.adress}} </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>

{% endblock %}
