{% extends "_global/index.html" %}
{% block main %}

<form  method="POST">
    <div class="form-row">
      <div class="col">
    
       
        <input id="location" name="location" type="text" class="form-control" placeholder="Lokacija">
        <input id="adress" name="adress" type="text" class="form-control" placeholder="Adresa">

      
             <br>
        <button type="submit" class="btn btn-primary mb-2">Dodaj Lokaciju</button>
        

      </div>
    
    </div>
  </form>
  {% endblock %}