{% extends "_global/index.html" %}
{% block title %}ISTORIJA ZADUZENJA UREDJAJA{% endblock %}

{% block main %}
<h1>ISTORIJA ZADUZENJA UREDJAJA</h1>
<input  id="myInput" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Pretraga">
<br>
<table  class="table table-bordered table-hover myTable" >
         
    <thead>
      <tr>
        
        <th scope="col">Bar Code</th>
        <th scope="col">Broj Reversa</th>
        <th scope="col">Model Name</th>
        
        <th scope="col">Lokacija</th>
        <th scope="col">Date</th>
        <th scope="col">Revers type</th>
        <th scope="col">Korisnik</th>
   
        
      </tr>
    </thead>

    {% for device in devices %}
    {% set br =br + 1 %}
    <tbody id="myTable">
      <tr>
        <td>{{device.bar_code|escape|default("-")}}</td>
        <td>{{device.revers_id|escape|default("-")}}</td>
        <td>{{device.model_name|escape|default("-")}}</td>
        
        <td>{{device.location_name|escape|default("-")}}</td>
        <td>{{device.date|escape|default("-")}}</td>
        <td>{{device.type|escape|default("-")}}</td>
        <td>{{device.revers_holder|escape|default("-")}}</td>
      
       

      </tr>
   
    </tbody>
    {% endfor %}
  </table>
<!---
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>
  -->


  
  
{% endblock %}