{% extends "_global/index.html" %}
{% block title %}Dodaj Model{% endblock %}
{% block main %}
<br>

<form  method="POST">
    <div class="form-row">
      <div class="col">
        <input  id="model_name"  name="model_name" type="text" class="form-control" placeholder="Model name">
        <select id="model_type_id" name="model_type_id" class="form-control">
            {%for type in types %}
            <option type="text" id="{{type.model_type_id}}" name="{{type.model_type_id}}" value="{{type.model_type_id}}" >{{type.model_type_name}}</option>
            {% endfor %}
          </select>
       
        <input id="model_description" name="model_description" type="text" class="form-control" placeholder="Model description">

      </div>
      <div class="col">
        <input id="ram" name="ram" type="text" class="form-control" placeholder="Ram">
        <input id="processor" name="processor" type="text" class="form-control" placeholder="processor">
        <input id="inch" name="inch" type="text" class="form-control" placeholder="inch">
        <input id="ports" name="ports" type="text" class="form-control" placeholder="hdmi, vga , displayport">



        <button type="submit" class="btn btn-primary mb-2">Dodaj Model</button>

        
   
        
       
 
        
      </div>
    </div>
  </form>


{% endblock %}